html{
    font-family: 'Darker Grotesque';
}

body {
    display: flex;
    flex-direction: column;
}
.main-title{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(55, 110, 150);
    height: 150px;
    font-size: 150px;
}

.top-of-page {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 800px;
}

.top-of-page .picture{
    max-width: 150px;
    max-height: auto;
}

.top-of-page .right {
    display: flex;
    flex-direction: column;
}

.top-of-page .right .projects{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 10px;
}

.top-of-page .right .projects .buttons{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.top-of-page button{
    font-family: 'Darker Grotesque';
    font-size: 14px;
    border-style: solid;
    border-color: transparent;
    background-color: rgb(80, 139, 177);
    color: white;
    width: 130px;
    height: auto;
}

.top-of-page button:hover{
    transition: ease-in;
    background-color: rgb(55, 110, 150);
}

.top-of-page .right .summary {
    width: 600px;
    font-size: 16px;
}

.top-of-page .right .title{
    font-size: 24px;
    font-weight: bold;
}

.middle-of-page {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.middle-of-page .left {
    display: flex;
    flex-direction: column;
    width: 150px;
    gap: 10px;
}

.middle-of-page .left .title {
    font-size: 24px;
    font-weight: bold;
}

.middle-of-page .right .title {
    font-size: 24px;
    font-weight: bold;
}

.middle-of-page button{
    font-family: 'Darker Grotesque';
    font-size: 14px;
    border-style: solid;
    border-color: transparent;
    background-color: rgb(80, 139, 177);
    color: white;
    width: 110px;
    height: auto;
    line-height: .1;
}

.moreinfo{
    margin-top: -14px;
    font-size: 13px;
}

.middle-of-page button:hover{
    background-color: transparent;
    color: black;
}

#jobDescription{
    width: 485px;
}
